<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weekday %><br>
    <%= f.select :weekday, options_for_select(@weekdays, selected=@training.weekday) %>
  </div>
  <div class="field">
    <%= f.label :time_start %><br>
    <%= f.time_select :time_start %>
  </div>
  <div class="field">
    <%= f.label :time_end %><br>
    <%= f.time_select :time_end %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :club_id %><br>
    <%= f.number_field :club_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
