<p id="notice"><%= notice %></p>

<p>
  <strong>Weekday:</strong>
  <%= @training.weekday %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @training.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @training.time_end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @training.description %>
</p>

<p>
  <strong>Club:</strong>
  <%= @training.club_id %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
