<%= form_for @club, :class => "form-vertical" do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2>Verein konnte nicht gespeichert werden:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <legend class="section-title"><%= t('misc.general') %></legend>
  
  <div class="form-section">
    
    <div class="form-group">
      <%= f.label :name, :class => "subtitle" %>
      <%= f.text_field :name, :class => "form-controls" %>
    </div>
    
    <label class="subtitle"><%= t('misc.contact') %></label>
    
    <div class="form-group">
      <%= f.label :contact_name %>
      <%= f.text_field :contact_name, :class => "form-controls" %>
    </div>
    
    <div class="form-group">
      <%= f.label :contact_phone %>
      <%= f.text_field :contact_phone, :class => "form-controls" %>
    </div>
  
    <div class="form-group">
      <%= f.label :contact_mail %>
      <%= f.text_field :contact_mail, :class => "form-controls" %>
    </div>
    
    <div class="form-group">
      <%= f.label :website %>
      <%= f.url_field :website, :class => "form-controls" %>
    </div>
  
  </div>
  
  <legend class="section-title"><%= Training.model_name.human %></legend>
  
  <div class="form-section">
    
    <label class="subtitle"><%= Coach.model_name.human(:count => 2) %></label>
  
    <div class="nested-fields inline-fields">
      <%= link_to_add_fields(t('buttons.add', :item => Coach.model_name.human), f, :coaches) %>
      <%= f.fields_for :coaches do |builder| %>
        <%= render "coach_fields", :f => builder %>
      <% end %>
    </div>

    <label class="subtitle"><%= Location.model_name.human(:count => 2) %></label>
    
    <div class="nested-fields inline-fields">
      <%= link_to_add_fields(t('buttons.add', :item => Location.model_name.human), f, :locations) %>
      <%= f.fields_for :locations do |builder| %>
        <%= render "location_fields", :f => builder %>
      <% end %>
    </div>
  
    <label class="subtitle"><%= Training.model_name.human(:count => 2) %></label>
    
    <div class="nested-fields inline-fields">
      <%= link_to_add_fields(t('buttons.add', :item => Training.model_name.human), f, :trainings) %>
      <%= f.fields_for :trainings do |builder| %>
        <%= render "training_fields", :f => builder %>
      <% end %>
    </div>
  
  </div>
  
  <div class="actions form-actions">
    <%= f.submit t('buttons.save'), :class => "btn" %>
    <%= link_to t('buttons.cancel'), my_profile_path, :class => "btn delete" %>
  </div>
  
<% end %>