<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label t(:name) %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label t(:address) %><br>
    <%= f.label t(:street) %>
    <%= f.text_field :street %>
    <%= f.label t(:street_no) %>
    <%= f.number_field :street_no %><br>
    <%= f.label t(:zip) %>
    <%= f.text_field :zip %><br>
    <%= f.label t(:city) %>
    <%= f.text_field :city %><br>
  </div>
  
  <div class="field">
    <%= f.label t(:coach) %><br>
    <%= link_to_add_fields("Trainer hinzufügen", f, :coaches) %>
    <%= f.fields_for :coaches do |builder| %>
      <%= render "coach_fields", :f => builder %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label t(:training) %><br>
    <%= link_to_add_fields("Training hinzufügen", f, :trainings) %>
    <%= f.fields_for :trainings do |builder| %>
      <%= render "training_fields", :f => builder %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label t(:website) %><br>
    <%= f.text_field :website %>
  </div>
  
  <div class="field">
    <%= f.label t(:contact) %><br>
    <%= f.label t(:name) %>
    <%= f.text_field :contact_name %><br>
    <%= f.label t(:phone) %>
    <%= f.text_field :contact_phone %><br>
    <%= f.label t(:mail) %>
    <%= f.text_field :contact_mail %>
  </div>
  
  <div class="actions">
    <%= f.submit t(:save) %>
  </div>
  
<% end %>