<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :street_no %><br>
    <%= f.number_field :street_no %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :coaches %><br>
    <%= link_to_add_fields("Add Coach", f, :coaches) %>
    <%= f.fields_for :coaches do |builder| %>
      <%= render "coach_fields", :f => builder %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :trainings %><br>
    <%= link_to "Add training", new_training_path(:club => @club.id) %>
    
    <% @club.trainings.each do |t| %>
      <p>
      <strong><%= @weekdays[t.weekday] %></strong>
      <%= t.time_start.strftime('%H:%M') %> to 
      <%= t.time_end.strftime('%H:%M') %>
      <% unless t.description.blank? %>
        <%= "(#{t.description})" %>
      <% end %>
      <%= link_to "Edit", edit_training_path(t.id) %>
      <%= link_to "Delete", training_path(t.id), :method => :delete %></br>
      </p>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %><br>
    <%= f.text_field :contact_phone %>
  </div>
  <div class="field">
    <%= f.label :contact_mail %><br>
    <%= f.text_field :contact_mail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>