<h2 class="page-title row-icon"><%= @club.name %></h2>
  
<div class="buttons icons">
  <% if can? :update, @club %>
    <%= link_to image_tag('edit.png', width: "25", alt: t('buttons.edit')), edit_profile_path, :class => "icon", :title => "Profil bearbeiten" %>
  <% end %>
</div>

<div class="clear-div"></div>

<div>

<legend class="section-title">Training</legend>
<div class="info-section">
  <% unless @club.locations.empty? %>
  <label><%= Location.model_name.human(:count => 2) %></label>
    <ul>
    <% @club.locations.each do |l| %>
      <li>
        <address>
          <%= l.street %>
          <%= l.number %><br>
          <%= l.zip %>
          <%= l.city %>
        </address>
      </li>
    <% end %>
    </ul>
  <% end %>

  <div>
    <%#= map %>
  </div>

  <% unless @club.trainings.empty? %>
  <label class="section-title"><%= Training.model_name.human(:count => 2) %></label>
    <ul>
    <% @club.trainings.each do |t| %>
      <li>
        <%= t.weekday.name %>
        <%= format_time(t.time_start) %> bis 
        <%= format_time(t.time_end) %>
        <% unless t.description.blank? %>
          <%= "(#{t.description})" %>
        <% end%>
      </li>
    <% end %>
    </ul>
  <% end %>
  
  <% unless @club.coaches.empty? %>
  <label><%= Coach.model_name.human(:count => 2) %></label>
    <ul>
      <% @club.coaches.each do |c| %>
        <li><%= "#{c.first_name} #{c.last_name}" %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<legend class="section-title">Kontaktdaten</legend>
<div class="info-section">
  <% unless @club.contact_name.blank? then %>
    <span><%=  Club.human_attribute_name(:contact_name) %>:</span>
    <%= @club.contact_name %></br>
  <% end %>
  <% unless @club.contact_phone.blank? then %>
    <span><%=  Club.human_attribute_name(:contact_phone) %>:</span>
    <%= @club.contact_phone %></br>
  <% end %>
  <% unless @club.contact_mail.blank? then %>
    <span><%=  Club.human_attribute_name(:contact_mail) %>:</span>
    <a class="link" href="mailto:<%= @club.contact_mail %>"><%= @club.contact_mail %></a><br>
  <% end %>
  <% unless @club.website.blank? %>
    <span><%=  Club.human_attribute_name(:website) %>:</span>
    <%= link_to @club.website, @club.website, :class => "link" %>
  <% end %>
</div>

<legend class="section-title">Anstehende <%= Event.model_name.human(:count => 2) %></legend>
<div class="info-section">
  <% if @club.events.empty? then %>
    Keine Veranstaltungen in nächster Zeit.
  <% else %>
    <ul>
    <% @club.events.each do |e| %>
      <% if e.approved && e.upcoming? %>
        <li><%= link_to e.title, event_path(e.id), :class => "link" %></li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
</div>

</div>
