<h2><%= @club.name %></h2>

<% if can? :update, @club %>
  <%= link_to "#{t(:profile)} bearbeiten", edit_club_path(@club), :class => "btn" %>
<% end %>
<% if can? :destroy, @club %>
  <%= link_to "#{t(:profile)} löschen", @club, method: :delete, data: { confirm: t(:confirm_delete_profile) }, :class => "btn"  %>
<% end %>

<div>
  <strong><%= t(:website) %>:</strong>
  <%= @club.website %>
</div>

<address>
  <%= @club.street %>
  <%= @club.street_no %></br>
  <%= @club.zip %>
  <%= @club.city %>
</address>

<div>
  <%#= image_tag "Map" %>
</div>

<div>
  <strong><%= t(:coach)%>:</strong></br>
  <% @club.coaches.each do |e| %>
    <%= "#{e.first_name} #{e.last_name}" %></br>
  <% end %>
</div>

<div>
  <strong><%= t(:training)%>:</strong></br>
  <% @club.trainings.each do |t| %>
    <p>
    <%#= weekdays.key(t.weekday) %>
    <%= t.weekday.name %>
    <%= format_time(t.time_start) %> bis 
    <%= format_time(t.time_end) %>
    <% unless t.description.blank? %>
      <%= "(#{t.description})" %>
    <% end%>
    </p>
  <% end %>
</div>

<div>
  <strong><%= t(:contact)%>:</strong></br>
  <%= @club.contact_name %></br>
  <span><%= t(:phone)%>:</span>
  <%= @club.contact_phone %></br>
  <span><%= t(:mail)%>:</span>
  <a href="mailto:<%= @club.contact_mail %>"><%= @club.contact_mail %></a>
</div>

<div>
  <strong>Anstehende <%= t(:event, count: 2) %>:</strong></br>
  <% if @club.events.empty? %>
    Keine Veranstaltungen in nächster Zeit.
  <% else %>
  <% @club.events.each do |e| %>
    <% if e.approved %>
      <%= link_to e.title, event_path(e.id) %></br>
    <% end %>
  <% end %>
  <% end %>
</div>
