<h2 class="page-title"><%= @club.name %></h2>

<div class="buttons">
  <% if can? :update, @club %>
    <%= link_to t('edit'), edit_club_path(@club), :class => "btn" %>
  <% end %>
  <% if can? :destroy, @club %>
    <%= link_to t('destroy'), @club, method: :delete, data: { confirm: t(:confirm_delete_profile) }, :class => "btn delete"  %>
  <% end %>
</div>
  
<% unless @club.website.blank? %>
  <div>
    <%= link_to @club.website, @club.website %>
  </div>
<% end %>

<% unless @club.locations.empty? %>
  <address>
    <ul>
      <% @club.locations.each do |l| %>
        <li>
          <%= l.street %><br>
          <%= l.zip %>
          <%= l.city %>
        </li>
      <% end %>
    </ul>
  </address>
<% end %>

<div>
  <%#= image_tag "Map" %>
</div>

<div class="infobox">
  <label><%= t(:coach)%></label>
  <% unless @club.coaches.empty? %>
    <ul>
      <% @club.coaches.each do |c| %>
        <li><%= "#{c.first_name} #{c.last_name}" %></li>
      <% end %>
    </ul>
  <% else %>
    Keine Angabe.
  <% end %>

  <label><%= t(:training)%></label>
  <% unless @club.trainings.empty? %>
    <ul>
    <% @club.trainings.each do |t| %>
      <li>
        <%= t.weekday.name %>
        <%= format_time(t.time_start) %> bis 
        <%= format_time(t.time_end) %>
        <% unless t.description.blank? %>
          <%= "(#{t.description})" %>
        <% end%>
      </li>
    <% end %>
    </ul>
  <% else %>
    Keine Angabe.
  <% end %>
</div>

  
<div class="infobox">
  <label><%= t(:contact)%></label>
  <% unless @club.contact_name.blank? then %>
    <%= @club.contact_name %></br>
  <% end %>
  <% unless @club.contact_phone.blank? then %>
    <span><%= t(:phone)%>:</span>
    <%= @club.contact_phone %></br>
  <% end %>
  <% unless @club.contact_mail.blank? then %>
    <span><%= t(:mail)%>:</span>
    <a href="mailto:<%= @club.contact_mail %>"><%= @club.contact_mail %></a>
  <% end %>
</div>

<div class="infobox">
  <label>Anstehende <%= t(:event, count: 2) %></label>
  <% if @club.events.empty? then %>
    Keine Veranstaltungen in nächster Zeit.
  <% else %>
    <ul>
    <% @club.events.each do |e| %>
      <% if e.approved %>
        <li><%= link_to e.title, event_path(e.id) %></li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
</div>

