<div class="fields nested-form">
    
  <div class="form-group">
    <%= f.label :street %>
    <%= f.text_field :street, :class => "form-controls medium-field" %>
  </div>
  
  <div class="form-group">
    <%= f.label :number %>
    <%= f.text_field :number, :class => "form-controls x-small-field" %>
  </div>
  
  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip, :class => "form-controls x-small-field" %>
  </div>
  
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :class => "form-controls small-field", :value => "Berlin" %>
  </div>
  
  <div class="form-group">
    <%= link_to_remove_fields(t('buttons.remove'), f) %>
  </div>
  
</div>