<%= form_for @club, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label t(:name), :class => "control-label" %>
    <%= f.text_field :name, :class => "controls" %>
  </div>
  <div class="field">
    <%= f.label t(:mail), :class => "control-label" %>
    <%= f.text_field :contact_mail, :class => "controls" %>
  </div>
  <div class="field">
    <%= f.label t(:password), :class => "control-label" %>
    <%= f.password_field :password, :class => "controls" %>
  </div>
  <div class="field">
    <%= f.label t(:password_confirmation), :class => "control-label" %>
    <%= f.password_field :password_confirmation, :class => "controls" %>
  </div>
  <div class="actions form-actions">
    <%= f.submit t(:sign_up), :class => "btn" %>
  </div>
<% end %>