<h2 class="page-title"><%= t(:club, count: 2) %></h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:address) %></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name, club %></td>
        <td>
        <% unless club.locations.empty? %>
          <%= club.locations.first.street %>
          <%= club.locations.first.number %>,
          <%= club.locations.first.zip %>
          <%= club.locations.first.city %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
