<h2><%= t(:club, count: 2) %></h2>

<table>
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:zip) %></th>
      <th><%= t(:city) %></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name, club %></td>
        <td><%= club.zip %></td>
        <td><%= club.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>
