<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Address:</strong></br>
  <%= @club.street %>
  <%= @club.street_no %></br>
  <%= @club.zip %>
  <%= @club.city %>
</p>

<p>
  <strong>Website:</strong>
  <%= @club.website %>
</p>

<p>
  <strong>Coaches:</strong></br>
  <% @club.coaches.each do |e| %>
    <%= "- #{e.first_name} #{e.last_name}" %></br>
  <% end %>
</p>

<p>
  <strong>Trainings:</strong></br>
  <% @club.trainings.each do |t| %>
    <p>
    <strong><%= @weekdays[t.weekday] %></strong>
    <%= t.time_start.strftime('%H:%M') %> to 
    <%= t.time_end.strftime('%H:%M') %>
    <% unless t.description.blank? %>
      <%= "(#{t.description})" %>
    <% end%>
    </p>
  <% end %>
</p>

<p>
  <strong>Contact:</strong></br>
  <%= @club.contact_name %></br>
  <span>Phone:</span>
  <%= @club.contact_phone %></br>
  <span>Mail:</span>
  <%= @club.contact_mail %>
</p>

<p>
  <strong>Events:</strong></br>
  <% @club.events.each do |e| %>
    <%= link_to e.title, event_path(e.id) %></br>
  <% end %>
</p>

<p>
  <strong>Members active:</strong></br>
  <% @club.boxers.each do |b| %>
    <% if b.active %>
    <%= link_to ("#{b.first_name} #{b.last_name}"), boxer_path(b.id) %></br>
    <% end %>
  <% end %>
  <%= link_to 'New Boxer', new_boxer_path %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
