<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

<div>
  <ul class="nav">
    <li><%= link_to 'My Profile', my_profile_path(@club.id) %></li>
    <li><%= link_to 'My Events', my_events_path(@club.id) %></li>
    <li><%= link_to 'My Boxers', my_boxers_path(@club.id) %></li>
  </ul>
</div>

<div>
  <% if can? :create, Event %>
    <%= link_to 'Add event', new_event_path %>
  <% end %>

  <% if can? :create, Boxer %>
    <%= link_to 'Add boxer', new_event_path %>
  <% end %>
</div>


