<%= form_tag login_path, :class => "form-horizontal" do %>
  
  <div class="field">
    <label><%= t(:mail) %></label>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <label><%= t(:password) %><label>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag t(:login), :class => "btn" %>
  </div>
  
<% end %>