<% unless @my_boxers.empty? %>

<legend class="section-title">Boxer anmelden:</legend>

<%= form_tag apply_event_path(@event), method: :post do %>

<table class="table">
  <thead>
    <th class="checkbox-column"></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" class="checkall"></td>
      <td colspan="5">Alle auswählen</td>
    </tr>
    <% @my_boxers.each do |boxer| %>
      <% if boxer.active %>
        <tr class="active">
      <% else %>
        <tr class="inactive">
      <% end %>
        <td><%= check_box_tag "boxer_ids[]", boxer.id %></td>
        <td><%= boxer.get_name %></td>
        <td><%= boxer.get_age %> Jahre</td>
        <td><%= boxer.weight.to_i %> kg</td>
        <td><strong><%= Fight.model_name.human(count: 2) %>: </strong><%= boxer.number_of_fights %> (<%= boxer.fights_won %>/<%= boxer.fights_lost %>/<%= boxer.fights_drawn %>)<br></td>
        <td><%= link_to t('buttons.edit'), edit_boxer_path(boxer), :class => "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Weiteren Boxer erfassen?", new_boxer_path, :class => "link" %>

<div class="actions form-actions">
  <%= submit_tag t('buttons.apply', :item => "Jetzt"), :method => :post, :action => 'send_application', :event_id => @event, :class => "btn btn-primary" %>
</div>

<% end %>

<% else %>

  <label class="subtitle">Sie haben keine Boxer anzumelden.</label>
  <%= link_to "Neuen Boxer hinzufügen", new_boxer_path, :class => "btn" %><br>

<% end %>

<div class="expand btn <%= @event.boxers.empty? ? 'disabled' : '' %>" onclick="$('#participants-list').toggle();">Teilnehmerliste anzeigen <span class="badge"><%= @boxers.count %></span></div>
<% unless @event.boxers.empty? %>
<div id="participants-list">
  <%= render 'boxers/list' %>
</div>
<% end %>