<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>Veranstaltung konnte nicht gespeichert werden:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Infos für die Beantragung beim Verband (Pflichtfelder)</h3>

  <div class="field">
  <%= f.label t(:address) %><br>
    <%= f.text_field :address, :id=>'gmaps-input-address' %>
    <%= f.hidden_field :latitude, :id=>'gmaps-output-latitude' %>
    <%= f.hidden_field :longitude, :id=>'gmaps-output-longitude' %>
  </div>

  <div class="field">
    <%= label_tag 'Datum' %><br>
    <%= f.date_field :date, "value" => @event.date || Time.now.to_date.to_s %>
  </div>
  
  <div class="field">
  <%= f.label t(:schedule) %><br>
    <%= link_to_add_fields("#{t(:item)} hinzufügen", f, :schedule_items) %>
    <%= f.fields_for :schedule_items do |builder| %>
      <%= render "schedule_item_fields", :f => builder %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label t(:contact) %><br>
    
    <%= f.label t(:name) %><br>
    <%= f.text_field :contact_name %>
    <%= f.check_box :contact_name_public %>
    <%= f.label t(:public) %>?<br>

    <%= f.label t(:phone) %><br>
    <%= f.text_field :contact_phone %>
    <%= f.check_box :contact_phone_public %>
    <%= f.label t(:public) %>?<br>

    <%= f.label t(:mail) %><br>
    <%= f.text_field :contact_mail, :value => @event.contact_mail || current_user.contact_mail %>
    <%= f.check_box :contact_mail_public %>
    <%= f.label t(:public) %>?
  </div>
  
  <div>
    Todo: Landesverband, Kampfgericht
  </div>
  
  <h3>Infos für Teilnehmer</h3>
  
  <div class="field">
    <%= f.label t(:title) %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label t(:description) %><br>
    <%= f.text_area :additional_info %>
  </div>
  
  <div class="field">
    <%= f.label t(:fee) %>
    <%= f.text_field :fee %>
  </div>
    
  <div class="field checkboxes">
    <%= f.label t(:performance_class, count: 2) %><br>
    <%= f.collection_check_boxes :performance_class_ids, PerformanceClass.all, :id, :title %>
  </div>
  
  <div class="field">
    <%= t(:available) %>:<br>
    <%= f.label t(:gloves) %>?
    <%= f.check_box :gloves_available %><br>

    <%= f.label t(:catering) %>?
    <%= f.check_box :catering_available %>
  </div>
  
  <div class="field">
    <%= f.label t(:admission) %><br>
    <%= f.label t(:default) %>
    <%= f.text_field :admission %><br>
    <%= f.label t(:discounted) %>
    <%= f.text_field :admission_discounted %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :club_id, :value => current_user.id %>
  </div>
  
  <div class="actions">
    <%= f.submit t(:request) %>
  </div>
<% end %>
