<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>Veranstaltung konnte nicht gespeichert werden:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <legend class="section-title">Weitere Informationen zur Veranstaltung</legend>
  <label>Diese Informationen können auch später noch bearbeitet werden</label>
  
  <div class="form-section">
    
    <div class="form-group">
      <%= f.label :additional_info, :class => "subtitle" %>
      <%= f.text_area :additional_info, :rows => "5", :class => "form-controls large-field" %>
    </div>
    
    <div class="form-group">
      <%= f.label :admission, :class => "subtitle" %>
      
      <div class="input-append">
        <%= f.label t('misc.default') %>
        <%= f.text_field :admission, :class => "form-controls small-field" %>
        <label class="add-on">€</label>
      </div>
      <div class="input-append">
        <%= f.label t('misc.discounted') %>
        <%= f.text_field :admission_discounted, :class => "form-controls small-field" %>
        <label class="add-on">€</label>
      </div>
    </div>
  
    <div class="form-group input-append">
      <%= f.label :fee, :class => "subtitle" %>
      <%= f.text_field :fee, :class => "form-controls small-field" %>
      <label class="add-on">€</label>
    </div>
    
    <div class="form-group">
      <label class="subtitle">Zugelassene Alters- und Leistungsklassen</label>
      <%= check_box_tag "all_performance_classes", "", true, :onclick => "toggle_info(this, '#event_performance_class_ids';" %><label>Alle</label>

      <%= f.collection_select :performance_class_ids, PerformanceClass.all, :id, :title, {}, {:class => "form-controls", :multiple => true} %>
    </div>
    
    <div class="form-group">
      <%= f.label :deadline, :class => "subtitle" %>
      <%= f.date_field :deadline, :class => "form-controls small-field" %>
    </div>
  
    <div class="form-group">
      <%= f.hidden_field :club_id, :value => @event.club_id || current_user.id %>
    </div>
    
  </div>
  
  <div class="actions form-actions">
    <%= f.submit t('buttons.save'), :class => "btn" %>
    <%= link_to t('buttons.cancel'), my_events_path("host"), :class => "btn delete" %>
  </div>
<% end %>
