<table>
  <thead>
    <tr>
      <th><%= t(:title) %></th>
      <th><%= t(:address) %></th>
      <th></th>
      <th><%= t(:date) %></th>
      <th><%= t(:host) %></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.address %></td>
        <td><%= image_tag "http://maps.google.com/maps/api/staticmap?size=80x80&sensor=false&zoom=11&markers=#{event.latitude}%2C#{event.longitude}" %></td>
        <td><%= event.date %></td>
        <td><%= unless event.club.nil? then event.club.name end %></td>
      </tr>
    <% end %>
  </tbody>
</table>