<table class="table table-hover" id="calendar">
  <thead>
    <tr>
      <th><%= label_tag "Tag" %></th>
      <th><%= label_tag "Titel" %></th>
      <th><%= label_tag "Datum und Adresse" %></th>
      <th><%= label_tag "Teilnehmer und Anmeldefrist" %></th>
      <th><%= label_tag "Veranstalter" %></th>
      <th><%= label_tag "genehmigt" %></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <tr class="calendar-row" onclick="window.location.href = '<%= event_path(event) %>'">
      <td class="event-day"><%= event.date.day %></td>
      <td class="event-title"><%= link_to event.title, event, :class => "hide-link" %></td>
      <td>
        <%= format_date(event.date) %><br>
        <% unless event.location.nil? %>
        <%= event.location.city %>
        <% end %>
      </td>
      <td class="event-participations">
        <%= event.boxers.count %> <%= t('misc.participant') %><br>
        Anmeldungen bis <%= format_date(event.get_deadline) %>
      </td>
      <td><%= unless event.club.nil? then event.club.name end %></td>
      <td>
        <% if event.approved %>
          <%= image_tag "approved.png", :width => 40, :class => "icon" %>
        <% elsif event.approved == false %>
          <%= image_tag "declined.png", :width => 40, :class => "icon" %>
        <% else %>
          <%= image_tag "pending.png", :width => 40, :class => "icon" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>