<h2 class="page-title"><%= t('buttons.apply', :item => Boxer.model_name.human) %></h2>

<p>Sie möchten zu der folgenden Veranstaltung Teilnehmer anmelden:</p>

<%= render 'list' %>

<div class="infobox">
  
<% unless @boxers.empty? %>

<label class="subtitle">Bitte wählen Sie Ihre Boxer aus der Liste:</label>

<%= form_tag send_application_path, method: :post do %>

<table class="table">
  <thead>
    <th class="checkbox-column"></th>
    <th></th>
  </thead>
  <tbody>
    <% unless @boxers.empty? %>
      <tr>
        <td><%= check_box_tag "check-all", :onclick => "selectAll();" %></td>
        <td>Alle</td>
      </tr>
    <% end %>
    <% @boxers.each do |b| %>
      <tr>
        <td><%= check_box_tag "boxer_ids[]", b.id %></td>
        <td><%= b.get_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Weiteren Boxer erfassen?", new_boxer_path, :class => "link" %>

<div class="actions form-actions">
  <%= submit_tag t('buttons.apply', :item => "Jetzt"), :class => "btn btn-primary" %>
</div>

<% end %>

<% else %>

  <label class="subtitle">Sie haben noch keine Boxer in Ihrer Liste.</label>
  <%= link_to "Neuen Boxer hinzufügen", new_boxer_path, :class => "btn" %>

<% end %>

</div>
