<h2 class="page-title"><%= t('buttons.apply_boxer') %></h2>

<p>Sie möchten zu der folgenden Veranstaltung Teilnehmer anmelden:</p>

<%= render 'list' %>

<div class="infobox">
  
<label class="subtitle">Bitte wählen Sie Ihre Boxer aus der Liste:</label>

<%= form_tag send_application_path, method: :post do %>
  
<% unless @boxers.empty? %>
<ul>
  <% @boxers.each do |b| %>
    <li>
      <%= check_box_tag "boxer_ids[]", b.id %>
      <%= b.first_name %> <%= b.last_name %>
    </li>
  <% end %>
  <% unless @boxers.empty? %>
  <li><%= link_to "alle", "#" %></li>
  <% end %>
</ul>
<% else %>
  <p>Sie haben noch keine Boxer zum anmelden!</p>
  <%= link_to "Neuen Boxer hinzufügen?", new_boxer_path, :class => "btn" %>
<% end %>
  
<div class="actions form-actions">
  <%= submit_tag t('buttons.apply_boxer'), :class => "btn" %>
</div>
  
<% end %>

</div>
