<h2 class="page-title"><%= t(:apply) %></h2>

<p>Sie möchten zu der folgenden Veranstaltung Boxer anmelden:</p>

<%= render 'list' %>

<div class="infobox">
  
<label class="subtitle">Aktive Boxer (bitte auswählen):</label>

<%= form_tag send_application_path, method: :post do %>
  
<ul>
  
  <% @boxers.each do |b| %>
    <li>
      <%= check_box_tag "boxer_ids[]", b.id %>
      <%= b.first_name %> <%= b.last_name %>
    </li>
  <% end %>
  <% unless @boxers.empty? %>
  <li><%= link_to "alle", "#" %></li>
  <% end %>
    
</ul>

<div class="actions form-actions">
  <%= submit_tag t(:apply), :class => "btn" %>
</div>
  
<% end %>

</div>
    
<%= link_to "Neuen Boxer hinzufügen?", new_boxer_path %>
