<h2 class="page-title"><%= t('nav.calendar') %></h2>

<%= form_tag calendar_path, :method => 'get' do %>
  <p class="input-append">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag t('buttons.search'), :name => nil, :class => "btn" %>
  </p>
<% end %>

<div>
  <% if params[:search].blank? %>
    <%= render 'calendar' %>
  <% end %>
</div>

<div>
  <%= render 'list' %>
</div>

<br>
