<h2>Events</h2>

<%= form_tag calendar_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div>
  <%= render 'calendar' %>
</div>

<div>
  <%= render 'list' %>
</div>

<br>
