<h2 class="page-title"><%= t('nav.request', count: 2) %></h2>

<ul class="nav nav-tabs">
  <li><%= link_to t('misc.open'), manage_path("open") %></li>
  <li><%= link_to t('misc.approved'), manage_path("approved") %></li>
  <li><%= link_to t('misc.declined'), manage_path("declined") %></li>
</ul>

<% if params[:status] == "open" %>
<h3><%= t('misc.open') %>
<% elsif params[:status] == "approved" %>
<h3><%= t('misc.approved') %>
<% elsif params[:status] == "declined" %>
  <h3><%= t('misc.declined') %>
<% end %>
<%= Event.model_name.human(count: 2) %></h3>


<% if can? :manage, Event %>
  <div>
    <%= render 'events/list' %>
  </div>
<% end %>
