<h2 class="page-title"><%= t('nav.request', count: 2) %></h2>

<% if params[:status] == "open" %>
<h3><%= t('misc.open') %>
<% elsif params[:status] == "approved" %>
<h3><%= t('misc.approved') %>
<% elsif params[:status] == "declined" %>
  <h3><%= t('misc.declined') %>
<% end %>
<%= Event.model_name.human(count: 2) %></h3>


<% if can? :manage, Event %>
  <div>
    <%= render 'events/list' %>
  </div>
<% end %>
