<h2 class="page-title"><%= t(:requests) %></h2>

<ul class="nav nav-tabs">
  <li><%= link_to t(:events_open), manage_path("open") %></li>
  <li><%= link_to t(:events_approved), manage_path("approved") %></li>
  <li><%= link_to t(:events_declined), manage_path("declined") %></li>
</ul>

<% if params[:status] == "open" %>
<h3>Offene 
<% elsif params[:status] == "approved" %>
<h3>Bestätigte 
<% elsif params[:status] == "declined" %>
  <h3>Abgelehnte 
<% end %>
<%= t(:event, count: 2) %></h3>


<% if can? :manage, Event %>
  <div>
    <%= render 'events/list' %>
  </div>
<% end %>
