<h2 class="page-title">Meine <%= Event.model_name.human(:count => 2) %></h2>

<% if can? :create, Event %>
  <%= link_to t('buttons.request', :item => Event.model_name.human), new_event_path, :class => "btn"  %>
<% end %>

<% if params[:role] == "host" %>
<h3><%= t('misc.host') %></h3> 
<% elsif params[:role] == "participate" %>
<h3><%= t('misc.participant') %></h3> 
<% elsif params[:role] == "archive" %>
<h3><%= t('misc.archive') %></h3>
<% end %>

<div>
<%= render 'events/list' %>
</div>
