<% unless @fights.empty? %>

<div>
  <div class="info-box">
    <legend class="section-title"><%= t('misc.statistics')%></legend>

    <label class="subtitle">Es wurden <%= @fights.count %> <%= Fight.model_name.human(count: @fights.count) %> gefunden.</label>
    <p>Durchschnittlicher Matching Wert: <%= @stat.matching_value %></p>
    <div class="bar-chart" title="Der Matching Wert gibt die Leistungsdifferenz zwischen den Gegnern an. Das heißt je niedriger der Wert, desto besser passen die Gegner.">
      <p class="part" style="width: <%= 100 - @stat.matching_value %>%;"></p>
    </div>
    <p>Anteil zusammengesetzer Boxer: <%= @stat.percentage_matched %>%</p>
    <div class="bar-chart" title="Anteil der angemeldeten Boxer, die mit einem Gegner besetzt werden konnten.">
      <p class="part" style="width: <%= @stat.percentage_matched %>%;"></p>
    </div>
  </div>
  
<legend class="section-title"><%= Fight.model_name.human(:count => 2) %></legend>

<div>
  <% @fights.each do |fight| %>
    <%= render 'fights/preview', fight: fight %>
  <% end %>    
</div>

<% else %>
<div class="info-box">
  <label class="subtitle">Es wurden noch keine passenden Kämpfe gefunden.</label>
</div>
<% end %>

</div>