<h2 class="page-title"><%= Fight.model_name.human(count: 2) %> (<%= @fights.count %>)</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Priorität</th>
      <th>Altersklasse</th>
      <th>Rote Ecke</th>
      <th>Blaue Ecke</th>
      <th>bestätigt?</th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.priority %></td>
        <td>
          <% unless fight.opponent_red.get_age_class.nil? %>
            <%= fight.opponent_red.get_age_class.title %>
          <% end %>
        </td>
        <td>
          <%= fight.opponent_red.get_name %><br>
          GESCHLECHT: <%= fight.opponent_red.gender %><br>
          ALTER: <%= fight.opponent_red.get_age %><br>
          GEWICHT: <%= fight.opponent_red.weight %><br>
          LEISTUNGSKLASSE: <% unless fight.opponent_red.get_performance_class.nil? %>
            <%= fight.opponent_red.get_performance_class.title %>
            <% end %><br>
          KÄMPFE: (<%= fight.opponent_red.fights_won %>/<%= fight.opponent_red.fights_lost %>/<%= fight.opponent_red.fights_drawn %>)<br>
          VEREIN: <%= Club.find_by_id(fight.opponent_red.club_id).name %><br>
          VALUE: <%= fight.opponent_red.get_value %><br>
        </td>
        <td>
          <%= fight.opponent_blue.get_name %><br>
          GESCHLECHT: <%= fight.opponent_blue.gender %><br>
          ALTER: <%= fight.opponent_blue.get_age %><br>
          GEWICHT: <%= fight.opponent_blue.weight %><br>
          LEISTUNGSKLASSE: <% unless fight.opponent_blue.get_performance_class.nil? %>
            <%= fight.opponent_blue.get_performance_class.title %>
            <% end %><br>
          KÄMPFE: (<%= fight.opponent_blue.fights_won %>/<%= fight.opponent_blue.fights_lost %>/<%= fight.opponent_blue.fights_drawn %>)<br>
          VEREIN: <%= Club.find_by_id(fight.opponent_blue.club_id).name %><br>
          VALUE: <%= fight.opponent_blue.get_value %><br>
        </td>
        <td>
          <%= fight.approved %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('buttons.back'), participants_path(@event), :class => "btn" %>