<h2 class="page-title"><%= Fight.model_name.human(count: 2) %> (<%= @fights.count %>)</h2>

<%= form_tag(fights_event_path(@event), method: :post, id: "fights_form") do |f| %>
  
  <div class="form-section" id="championship">
    <legend>Einstellungen</legend>
    
    <div class="form-group check">
      <%= label_tag :championship, "Ist dies eine Meisterschaft oder ein Turnier?" %><br>
      <%= radio_button_tag "championship", "1", params[:championship] == "1", :class => "form-controls", :onclick => "$('.no-championship').hide();" %>
      <%= label_tag "Ja" %>
      <%= radio_button_tag "championship", "0", params[:championship] == "0" || params[:championship].nil?, :class => "form-controls", :onclick => "$('.no-championship').show();" %>
      <%= label_tag "Nein" %>
    </div>
    
    <div class="form-group no-championship">
      <%= label_tag :weight_distance, "Maximale Gewichtsdifferenz:" %>
      <%= select_tag "weight_distance", options_for_select(0..8, params[:weight_distance] || 2), :class => "form-controls x-small-field" %>
    </div>
    <div class="form-group no-championship">
      <%= label_tag :age_distance, "Maximale Altersdifferenz:" %>
      <%= select_tag "age_distance", options_for_select(0..8, params[:age_distance] || 2), :class => "form-controls x-small-field" %>
    </div>
    <div class="form-group check no-championship">
      <%= label_tag :same_club, "Dürfen Boxer aus demselben Verein gegeneinander kämpfen?" %><br>
      <%= radio_button_tag "same_club", "1", params[:same_club] == "1", :class => "form-controls" %>
      <%= label_tag "Ja" %>
      <%= radio_button_tag "same_club", "0", params[:same_club] == "0" || params[:same_club].nil?, :class => "form-controls" %>
      <%= label_tag "Nein" %>
    </div>

    <%#= hidden_field_tag "algorithm", :value => '2' %>
    
    <div class="form-group" id="generate-fight-submit">
      <%= submit_tag "Kämpferliste generieren", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

<% unless @fights.empty? %>

<div class="form-section">
<legend>Matching Statistik</legend>
<p>Matching Wert: <%= @stat.matching_value %></p>
<p>Anteil zusammengesetzer Boxer: <%= @stat.percentage_matched %>%</p>
</div>

<table class="table table-hover">
  <thead>
    <tr class="">
      <th>Differenz</th>
      <th>Klassifizierung</th>
      <th>Rote Ecke</th>
      <th>Blaue Ecke</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td>
          Alter: <%= fight.get_age_distance.abs %><br>
          Gewicht: <%= fight.get_weight_distance.round(1).abs %><br>
          Leistung: <%= fight.get_performance_distance.abs %><br>
          Priorität: <%= fight.priority %>
        </td>
        <td>
          <% unless fight.get_age_class.nil? %>
          <%= fight.get_age_class.title %><br>
          <% end %>
          <% unless fight.get_performance_class.nil? %>
          <%= fight.get_performance_class.title %><br>
          <% end %>
        </td>
        <td>
          <%= render 'boxer_data', opponent: fight.opponent_red %>
        </td>
        <td>
          <%= render 'boxer_data', opponent: fight.opponent_blue %>
        </td>
        <td>
          <%#= link_to t('buttons.approve'), nil, :onclick => add_fight(@event, fight), :class => "btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<p>Es wurden noch keine passenden Kämpfe gefunden.</p>
<% end %>


<% unless @event.fights.empty? %>
<div class="form-section">
<legend>Bestätigte Kämpfe</legend>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Priorität</th>
      <th>Altersklasse</th>
      <th>Rote Ecke</th>
      <th>Blaue Ecke</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @event.fights.each do |fight| %>
      <tr>
        <td><%= fight.priority %></td>
        <td>
          <% unless fight.opponent_red.get_age_class.nil? %>
            <%= fight.opponent_red.get_age_class.title %>
          <% end %>
        </td>
        <td>
          <%= fight.opponent_red.get_name %>
        </td>
        <td>
          <%= fight.opponent_blue.get_name %>
        </td>
        <td>
        <%#= link_to t('buttons.destroy'), nil, :onclick => remove_fight(@event, fight), :class => "btn delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
<%# link_to t('buttons.back'), participants_path(@event), :class => "btn" %>
