    
  <% if calendar_nav %>
  <div class="sidebar">
    <ul class="nav nav-list">
      <% 12.times do |n| %>
        <li class="sub-item"><%= nav_link localize(Date.today + n.month, :format => '%B %Y'), calendar_path(Date.today + n.month) %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if dashboard_nav %>
  <div class="sidebar">
    <ul class="nav nav-list">
      <li class="main-item"><%= nav_link t('nav.dashboard'), dashboard_path %>
        
      <li class="sub-item"><%= nav_link t('nav.profile'), my_profile_path, :class => controller?('clubs') && action?('edit') ? 'selected' : '' %></li>
      
      <li class="sub-item"><%= nav_link Boxer.model_name.human(:count => 2), my_boxers_path, :class => controller?('boxers') ? 'selected' : '' %></li>
      
      <li class="sub-item"><%= nav_link Event.model_name.human(:count => 2), my_events_path("host"), :class => my_events_nav ? 'selected' : '' %></li>
      <% if my_events_nav %>
        <ul class="nav nav-list sub-menu">
          <li class="sub-item"><%= nav_link t('misc.host'), my_events_path("host") %></li>
          <li class="sub-item"><%= nav_link t('misc.participant'), my_events_path("participate") %></li>
          <li class="sub-item"><%= nav_link t('misc.archive'), my_events_path("archive") %></li>
        </ul>
      <% end %>
      
      <% if current_user.admin? %>
        <li class="sub-item"><%= nav_link t('nav.request', count: 2), manage_path("open") %></li>
        <% if action?('manage') %>
        <ul class="nav nav-list sub-menu">
          <li class="sub-item"><%= nav_link t('misc.open'), manage_path("open") %></li>
          <li class="sub-item"><%= nav_link t('misc.approved'), manage_path("approved") %></li>
          <li class="sub-item"><%= nav_link t('misc.declined'), manage_path("declined") %></li>
        </ul>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>
      