<!DOCTYPE html>
<html>
<head>
  <title>Boxenberlin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <h1>Boxen in Berlin</h1>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Calendar', calendar_path %></li>
    <li><%= link_to 'Clubs', clubs_path %></li>
  </ul>
  
<%= yield %>

</body>
</html>
