<!DOCTYPE html>
<html>
<head>
  <title>Berliner Boxverband</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= stylesheet_link_tag "application.css", :cache => true %>
  <%= javascript_include_tag "application.js", :cache => true %>
  
  <!-- https://github.com/rjshade/gmaps-autocomplete -->
  <%= javascript_include_tag "gmaps.js", :cache => true %>
  <!-- google maps -->
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  <!-- jquery -->
  <%#= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <!-- jquery UI -->
  <%#= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
  
  <%= csrf_meta_tags %>
</head>

<body>
  
  <%= link_to "<h1 id='header'>Berliner Boxverband</h1>".html_safe, root_path %>

  <div class="container">
    <div id="nav-bar">
      <ul id="main-nav" class="nav nav-list">
        <li class="main-item"><%= nav_link t('nav.news'), news_path %></li>
        <li class="main-item"><%= nav_link Club.model_name.human(:count => 2), clubs_path, {}, {:url_segment => 1} %></li>
        <li class="main-item"><%= nav_link t('nav.calendar'), calendar_path, {}, {:url_segment => 1} %></li>
      </ul>
      <ul id="second-nav" class="nav nav-list">
        <li class="second-item"><%= nav_link t('nav.dashboard'), dashboard_path %>
        <% if current_user.nil? %>
          <li class="second-item"><%= nav_link t('buttons.sign_up'), signup_path %></li>
        <% else %>
          <li class="second-item"><%= link_to t('buttons.logout'), logout_path(current_user), method: :delete, :id => "logout" %></li>
        <% end %>
      </ul>
    </div>
    <div class="clear-div"></div>
    
    <%= debug params %>
    
    <div class="content">

      <% if current_user %>
        <%= render 'layouts/sidebar' %>
      <% end %>
      
      <div class="main-content">
        <% if !flash.empty? %>
          <div id="flash">
            <% flash.keys.each do |k| %>
              <div class="<%= k %>">
                <%= flash[k] %>
              </div>
            <% end %>
          </div>
        <% end %>
  
        <%= yield %>
      </div>
      
    </div>
  
  </div>
  
</body>
</html>
