<%= form_for(@boxer) do |f| %>
  <% if @boxer.errors.any? %>
    <div id="error_explanation">
      <h2>Boxer konnte nicht gespeichert werden:</h2>

      <ul>
      <% @boxer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => "form-controls" %>
  </div>
  
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => "form-controls" %>
  </div>
  
  <div class="form-group inline-fields">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth,
    {:start_year => Date.current.year - 37,
    :end_year => Date.current.year - 6,
    :order => [:day, :month, :year]},
    {:class => "form-controls"} %>
  </div>
  

    
  <div class="form-group check">
    <%= f.label :active, :class => "subtitle" %>?
    <%= f.check_box :active, :class => "form-controls", :onclick => "toggle_info('#boxer-info-section'); toggle_info('#boxer-info-title');" %>
  </div>
  
  <legend class="section-title" id="boxer-info-title">Kämpferinformationen</legend>
  
  <div class="form-section" id="boxer-info-section">
    
  <div class="inline-fields">
    
  <div class="form-group">
  <%= f.label t(:weight), :class => "subtitle" %>
    <%= f.text_field :weight, :class => "form-controls" %>
  </div>
  
  </div>
  
  <div class="inline-fields">
    
    <label class="subtitle">Kämpfe</label>
    
    <div class="form-group">
      <%= f.label t(:won) %>
      <%= f.text_field :fights_won, :value => 0, :class => "form-controls" %>
    </div>
    
    <div class="form-group">
      <%= f.label t(:lost) %>
      <%= f.text_field :fights_lost, :value => 0, :class => "form-controls" %>
    </div>
    
    <div class="form-group">
      <%= f.label t(:drawn) %>
      <%= f.text_field :fights_drawn, :value => 0, :class => "form-controls" %>
    </div>
    
  </div>
  
  <div class="">
    
    <label class="subtitle">Geschlecht</label>
    
    <div class="form-group check">
      <%= f.radio_button :gender, true, :class => "form-controls" %>
      <%= f.label t("female"), :class => :gender %>
    </div>
    
    <div class="form-group check">
      <%= f.radio_button :gender, false, :class => "form-controls" %>
      <%= f.label t("male"), :class => :gender %>
    </div>
    
  </div>
  
  </div>
  
  <%= f.hidden_field :club_id, :value => current_user.id %>
  
  <div class="actions form-actions">
    <%= f.submit t(:save), :class => "btn" %>
    <%= link_to t(:cancel), :back, :class => "btn delete" %>
  </div>
<% end %>
