<%= form_for(@boxer) do |f| %>
  <% if @boxer.errors.any? %>
    <div id="error_explanation">
      <h2>Boxer konnte nicht gespeichert werden:</h2>

      <ul>
      <% @boxer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <label class="subtitle">Name</label>
  
  <div class="inline-fields">
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => "form-controls" %>
  </div>
  
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => "form-controls" %>
  </div>
  </div>
  
  <div class="form-group inline-fields">
    <%= f.label :date_of_birth, :class => "subtitle" %>
    <%= f.date_select :date_of_birth,
    {:start_year => Date.current.year - 37,
    :end_year => Date.current.year - 6,
    :order => [:day, :month, :year]},
    {:class => "form-controls small-field"} %>
  </div>
    
  <div class="form-group check">
    <%= f.check_box :active, :class => "form-controls", :onclick => "toggle_info(this, '#boxer-info-section'); toggle_info(this, '#boxer-info-title');" %>
    <%#= f.label :active %>
    <label>Der Boxer nimmt aktiv an Wettkämpfen teil</label>
  </div>
  
  <legend class="section-title" id="boxer-info-title">Kämpferinformationen</legend>
  
  <div class="form-section" id="boxer-info-section">
    
  <div class="inline-fields">
    
  <div class="form-group input-append">
    <%= f.label :weight, :class => "subtitle" %>
    <%= f.text_field :weight, :class => "form-controls small-field" %>
    <label class="add-on">kg</label>
  </div>
  
  </div>
  
  <div class="inline-fields">
    
    <label class="subtitle"><%= t('misc.fight', count: 2) %></label>
    
    <div class="form-group">
      <%= f.label :fights_won %>
      <%= f.text_field :fights_won, :value => @boxer.fights_won || 0, :class => "form-controls small-field" %>
    </div>
    
    <div class="form-group">
      <%= f.label :fights_lost %>
      <%= f.text_field :fights_lost, :value => @boxer.fights_lost || 0, :class => "form-controls small-field" %>
    </div>
    
    <div class="form-group">
      <%= f.label :fights_drawn %>
      <%= f.text_field :fights_drawn, :value => @boxer.fights_drawn || 0, :class => "form-controls small-field" %>
    </div>
    
  </div>
  
  <div class="">
    
    <label class="subtitle">Geschlecht</label>
    
    <div class="form-group check">
      <%= f.radio_button :gender, true, :class => "form-controls" %>
      <%= f.label t("misc.female"), :class => :gender %>
    </div>
    
    <div class="form-group check">
      <%= f.radio_button :gender, false, :class => "form-controls" %>
      <%= f.label t("misc.male"), :class => :gender %>
    </div>
    
  </div>
  
  </div>
  
  <%= f.hidden_field :club_id, :value => current_user.id %>
  
  <div class="actions form-actions">
    <%= f.submit t('buttons.save'), :class => "btn" %>
    <%= link_to t('buttons.cancel'), :back, :class => "btn delete" %>
  </div>
<% end %>
