<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Boxer.human_attribute_name(:name) %></th>
      <th><%= t('misc.age_class') %></th>
      <th><%= Boxer.human_attribute_name(:weight) %></th>
      <th>
        <%= t('misc.fight', count: 2) %> 
        (<%= Boxer.human_attribute_name(:fights_won) %>/
        <%= Boxer.human_attribute_name(:fights_lost) %>/
        <%= Boxer.human_attribute_name(:fights_drawn) %>)
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @boxers.each do |boxer| %>
      <% if boxer.active then %>
        <tr class="active boxer-row" onclick="window.location.href = '<%= boxer_path(boxer) %>'">
      <% else %>
        <tr class="inactive boxer-row" onclick="window.location.href = '<%= boxer_path(boxer) %>'">
      <% end %>
      
      <td><%= link_to "#{boxer.first_name} #{boxer.last_name}", boxer %></td>
      <td>
      <% unless boxer.get_age_class.nil? %>
        <%= boxer.get_age_class.title %> 
      <% else %>
        Nicht klassifiziert
      <% end %>
      </td>
      <td><%= boxer.weight.to_i %> kg</td>
      <td><%= "#{boxer.fights_won}/#{boxer.fights_lost}/#{boxer.fights_drawn}" %></td>
      <td><% if boxer.active then %>aktiv<% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>