<table>
  <thead>
    <tr>
      <th><%= t(:performance_class, count: 1) %></th>
      <th><%= t(:name) %></th>
      <th><%= t(:weight) %></th>
      <th><%= "#{t(:fights, count: 2)} (g/v/u)" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @boxers.each do |boxer| %>
      <% if boxer.active then %>
        <tr class="active">
      <% else %>
        <tr class="inactive">
      <% end %>
      <td><%= boxer.performance_class.title %></td>
      <td><%= boxer.first_name %>
      <%= boxer.last_name %></td>
      <td><%= boxer.weight.to_i %> kg</td>
      <td><%= "#{boxer.fights_won}/#{boxer.fights_lost}/#{boxer.fights_drawn}" %></td>
      <td><% if boxer.active then %>aktiv<% end %></td>
      <td><%= link_to t(:show), boxer %></td>
    </tr>
    <% end %>
  </tbody>
</table>