<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Boxer.human_attribute_name(:name) %></th>
      <th><%= t('misc.age_class') %></th>
      <th><%= Boxer.human_attribute_name(:weight) %></th>
      <th>
        <%= t('misc.fight', count: 2) %> 

      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @boxers.each do |boxer| %>
      <% if boxer.active then %>
        <tr class="active boxer-row" onclick="window.location.href = '<%= boxer_path(boxer) %>'">
      <% else %>
        <tr class="inactive boxer-row" onclick="window.location.href = '<%= boxer_path(boxer) %>'">
      <% end %>
      
      <td><%= link_to boxer.get_name, boxer %></td>
      <td>
      <% unless boxer.get_age_class.nil? %>
        <%= boxer.get_age_class.title %> 
      <% else %>
        Nicht klassifiziert
      <% end %>
      </td>
      <td><%= boxer.weight.to_i %> kg</td>
      <td><strong><%= Boxer.human_attribute_name(:fights_won) %>:</strong> <%= boxer.fights_won %><br>
          <%= Boxer.human_attribute_name(:fights_lost) %>: <%= boxer.fights_lost %><br>
          <%= Boxer.human_attribute_name(:fights_drawn) %>: <%= boxer.fights_drawn %></td>
      <td><% if boxer.active then %>aktiv<% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>