<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:performance_class, count: 1) %></th>
      <th><%= t(:weight) %></th>
      <th><%= "#{t(:fights, count: 2)} (S/N/U)" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @boxers.each do |boxer| %>
      <% if boxer.active then %>
        <tr class="active boxer-row" onclick="window.location.href = '<%= boxer_path(boxer) %>'">
      <% else %>
        <tr class="inactive boxer-row" onclick="window.location.href = '<%= boxer_path(boxer) %>'">
      <% end %>
      
      <td><%= link_to "#{boxer.first_name} #{boxer.last_name}", boxer %></td>
      <td>
        <% unless boxer.performance_class.nil? then %>
        <%= boxer.performance_class.title %>
        <% else %>
        Nicht klassifiziert
        <% end %>
      </td>
      <td><%= boxer.weight.to_i %> kg</td>
      <td><%= "#{boxer.fights_won}/#{boxer.fights_lost}/#{boxer.fights_drawn}" %></td>
      <td><% if boxer.active then %>aktiv<% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>