<table>
  <thead>
    <tr>
      <th>Performance Class</th>
      <th>Name</th>
      <th>Weight</th>
      <th>Fights (w/l/d)</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @boxers.each do |boxer| %>
      <% if boxer.active then %>
        <tr class="active">
      <% else %>
        <tr class="inactive">
      <% end %>
      <td><%= boxer.performance_class.title %></td>
      <td><%= boxer.first_name %>
      <%= boxer.last_name %></td>
      <td><%= boxer.weight.to_i %> kg</td>
      <td><%= "#{boxer.fights_won}/#{boxer.fights_lost}/#{boxer.fights_drawn}" %></td>
      <td><%= link_to 'Show', boxer %></td>
    </tr>
    <% end %>
  </tbody>
</table>