<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Boxer.human_attribute_name(:name) %></th>
      <th><%= Boxer.human_attribute_name(:date_of_birth) %></th>
      <th><%= Boxer.human_attribute_name(:weight) %></th>
      <th>
        <%= t('misc.fight', count: 2) %> 
      </th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @boxers.each do |boxer| %>
      <% if boxer.active then %>
        <tr class="active boxer-row" onclick="window.location.href = '<%= boxer_path(boxer) %>'">
      <% else %>
        <tr class="inactive boxer-row" onclick="window.location.href = '<%= boxer_path(boxer) %>'">
      <% end %>
      
      <td><%= link_to boxer.get_name, boxer %></td>
      <td><%= localize boxer.date_of_birth %> (<%= boxer.get_age %> Jahre)</td>
      <td><%= boxer.weight.to_i %> kg</td>
      <td><strong><%= Boxer.human_attribute_name(:fights_won) %>:</strong> <%= boxer.fights_won %><br>
          <strong><%= Boxer.human_attribute_name(:fights_lost) %>:</strong> <%= boxer.fights_lost %><br>
          <strong><%= Boxer.human_attribute_name(:fights_drawn) %>:</strong> <%= boxer.fights_drawn %>
      </td>
      <% if controller?('events') && action?('show') && boxer.club_id == current_user.id %>
        <td><%= link_to t('buttons.undo_application'), undo_apply_event_path(@event.id, boxer.id), method: :delete, data: { confirm: t('messages.confirm_delete') }, :class => "btn delete remove-element-btn" %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>