<h2 class="page-title"><%= @boxer.first_name %> <%= @boxer.last_name %></h2>

<div class="buttons">
<% if can? :update, @boxer %>
  <%= link_to t('buttons.edit'), edit_boxer_path(@boxer), :class => "btn" %>
<% end %>
<% if can? :destroy, @boxer %>
  <%= link_to t('buttons.destroy'), @boxer, method: :delete, data: { confirm: t('messages.confirm_delete') }, :class => "btn delete" %>
<% end %>
</div>

<div class="row">
  
<div class="info-section span5">
  
<legend><%= t('misc.general')%></legend>

<p>
  <strong><%= Boxer.human_attribute_name(:date_of_birth) %>:</strong>
  <%= format_date(@boxer.date_of_birth) %>
</p>

<p>
  <strong><%= Boxer.human_attribute_name(:gender) %>:</strong>
  <% if @boxer.gender %>
  <%= t('misc.female') %>
  <% else %>
  <%= t('misc.male') %>
  <% end %>
</p>

<p>
  <strong><%= t('misc.age_class') %>:</strong>
  <% unless @boxer.get_age_class.nil? %>
    <%= @boxer.get_age_class.title %>
  <% else %>
    Nicht klassifiziert
  <% end %>
</p>

<p>
  <strong><%= Boxer.human_attribute_name(:weight) %>:</strong>
  <%= @boxer.weight.to_i %> kg
</p>

<p>
<strong><%= Club.model_name.human %>:</strong>
  <%= @boxer.club.name %>
</p>

</div>

<% if @boxer.active %>

<div class="span4">

  <legend><%= t('misc.fight', count: 2) %></legend>
  <div class="info-section infobox">
<p>
  <%= Boxer.human_attribute_name(:fights_won) %>:
  <%= @boxer.fights_won %></br>
  <%= Boxer.human_attribute_name(:fights_lost) %>:
  <%= @boxer.fights_lost %></br>
  <%= Boxer.human_attribute_name(:fights_drawn) %>:
  <%= @boxer.fights_drawn %>
</p>

<p>
  <strong><%= PerformanceClass.model_name.human(count: 1) %>:</strong>
  <% unless @boxer.get_performance_class.nil? %>
    <%= @boxer.get_performance_class.title %> 
  <% else %>
    Nicht klassifiziert
  <% end %>
</p>

</div>

</div>
  
<% end %>

</div>
