<h2 class="page-title"><%= @boxer.first_name %> <%= @boxer.last_name %></h2>

<div class="buttons">
<% if can? :update, @boxer %>
  <%= link_to t('edit'), edit_boxer_path(@boxer), :class => "btn" %>
<% end %>
<% if can? :destroy, @boxer %>
  <%= link_to t('destroy'), @boxer, method: :delete, data: { confirm: t(:confirm_delete) }, :class => "btn delete" %>
<% end %>
</div>

<p>
  <strong><%= t(:date_of_birth) %>:</strong>
  <%= format_date(@boxer.date_of_birth) %>
</p>

<p>
  <strong><%= t(:age_class, count: 2) %>:</strong>
  <%= unless @boxer.performance_class.nil? then @boxer.performance_class.title end %>
</p>

<p>
  <strong><%= t(:weight) %>:</strong>
  <%= @boxer.weight.to_i %> kg
</p>

<p>
  <strong><%= t(:weight_class, count: 1)%>:</strong>
  TODO
</p>

<p>
  <strong><%= t(:fights, count: 2) %></strong></br>
  <%= t(:fights_won, scope: [:activerecord, :attributes, :boxers]) %>:
  <%= @boxer.fights_won %></br>
  <%= t(:fights_lost, scope: [:activerecord, :attributes, :boxers]) %>:
  <%= @boxer.fights_lost %></br>
  <%= t(:fights_drawn, scope: [:activerecord, :attributes, :boxers]) %>:
  <%= @boxer.fights_drawn %>
</p>

<p>
  <strong><%= t(:gender) %>:</strong>
  <% if @boxer.gender %>
  <%= t(:female) %>
  <% else %>
  <%= t(:male) %>
  <% end %>
</p>

<p>
  <strong><%= t(:active) %>:</strong>
  <% if @boxer.active %>
    Ja
  <% else %>
    Nein
  <% end %>
</p>

<p>
<strong><%= t(:club, count: 1) %>:</strong>
  <%= @boxer.club.name %>
</p>

<%= link_to "Alle Boxer", my_boxers_path, :class => "btn" %>
