<% if can? :update, @boxer %>
  <%= link_to t('edit'), edit_boxer_path(@boxer) %>
<% end %>
<% if can? :destroy, @boxer %>
  <%= link_to t('destroy'), @boxer, method: :delete, data: { confirm: t(:confirm_delete) } %>
<% end %>

<p>
  <strong><%= t(:first_name) %>:</strong>
  <%= @boxer.first_name %>
</p>

<p>
  <strong><%= t(:last_name) %>:</strong>
  <%= @boxer.last_name %>
</p>

<p>
  <strong><%= t(:date_of_birth) %>:</strong>
  <%= format_date(@boxer.date_of_birth) %>
</p>

<p>
  <strong><%= t(:age_class, count: 2) %>:</strong>
  <%= @boxer.performance_class.title %>
</p>

<p>
  <strong><%= t(:weight) %>:</strong>
  <%= @boxer.weight.to_i %> kg
</p>

<p>
  <strong><%= t(:weight_class, count: 1)%>:</strong>
  TODO
</p>

<p>
  <strong><%= t(:fights, count: 2) %></strong></br>
  <%= t(:won) %>:
  <%= @boxer.fights_won %></br>
  <%= t(:lost) %>:
  <%= @boxer.fights_lost %></br>
  <%= t(:drawn) %>:
  <%= @boxer.fights_drawn %>
</p>

<p>
  <strong><%= t(:gender) %>:</strong>
  <% if @boxer.gender %>
  <%= t(:female) %>
  <% else %>
  <%= t(:male) %>
  <% end %>
</p>

<p>
  <strong><%= t(:active) %>:</strong>
  <% if @boxer.active %>
    Ja
  <% else %>
    Nein
  <% end %>
</p>

<p>
<strong><%= t(:club, count: 1) %>:</strong>
  <%= @boxer.club.name %>
</p>

<%= link_to t(:back), :back %>
