<h2 class="page-title"><%= @boxer.first_name %> <%= @boxer.last_name %></h2>

<div class="buttons">
<% if can? :update, @boxer %>
  <%= link_to t('edit'), edit_boxer_path(@boxer), :class => "btn" %>
<% end %>
<% if can? :destroy, @boxer %>
  <%= link_to t('destroy'), @boxer, method: :delete, data: { confirm: t(:confirm_delete) }, :class => "btn delete" %>
<% end %>
</div>

<div class="row">
  
<div class="infobox span5">
  
<label class="subtitle">Allgemein</label>

<p>
  <strong><%= t(:date_of_birth) %>:</strong>
  <%= format_date(@boxer.date_of_birth) %>
</p>

<p>
  <strong><%= t(:gender) %>:</strong>
  <% if @boxer.gender %>
  <%= t(:female) %>
  <% else %>
  <%= t(:male) %>
  <% end %>
</p>

<p>
  <strong><%= t(:age_class, count: 1) %>:</strong>
  <%= @boxer.classify_age %>
</p>

<p>
  <strong><%= t(:weight) %>:</strong>
  <%= @boxer.weight.to_i %> kg
</p>

<p>
<strong><%= t(:club, count: 1) %>:</strong>
  <%= @boxer.club.name %>
</p>

</div>

<% if @boxer.active %>

<div class="infobox span4">
  
<p>
  <label class="subtitle"><%= t(:fights, count: 2) %></label>
  <%= t(:fights_won, scope: [:activerecord, :attributes, :boxers]) %>:
  <%= @boxer.fights_won %></br>
  <%= t(:fights_lost, scope: [:activerecord, :attributes, :boxers]) %>:
  <%= @boxer.fights_lost %></br>
  <%= t(:fights_drawn, scope: [:activerecord, :attributes, :boxers]) %>:
  <%= @boxer.fights_drawn %>
</p>

<p>
  <strong><%= t(:performance_class, count: 1)%>:</strong>
  <%= @boxer.classify_performance %>
</p>

</div>
  
<% end %>

</div>

<%= link_to "Alle Boxer", my_boxers_path, :class => "btn" %>
