<p id="notice"><%= notice %></p>

<% if can? :update, @boxer %>
  <%= link_to 'Edit', edit_boxer_path(@boxer) %>
<% end %>
<% if can? :destroy, @boxer %>
  <%= link_to 'Destroy', @boxer, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<p>
  <strong>First name:</strong>
  <%= @boxer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @boxer.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= format_date(@boxer.date_of_birth) %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @boxer.weight %>
</p>

<p>
  <strong>Fights won:</strong>
  <%= @boxer.fights_won %>
</p>

<p>
  <strong>Fights lost:</strong>
  <%= @boxer.fights_lost %>
</p>

<p>
  <strong>Fights drawn:</strong>
  <%= @boxer.fights_drawn %>
</p>

<p>
  <strong>Gender:</strong>
  <% if @boxer.gender %>
  Female
  <% else %>
  Male
  <% end %>
</p>

<p>
  <strong>Active:</strong>
  <%= @boxer.active %>
</p>

<p>
  <strong>Club:</strong>
  <%= @boxer.club.name %>
</p>
